body {
    font-family: Arial, sans-serif;
    background-color: #e5cef5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #8ceaed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.selector-container {
    margin-bottom: 20px;
}

.animal-select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #9d00ff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.animal-select:focus {
    border-color: #0098b3;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: 5px solid #00bfff;
    border-radius: 10px;
    width: 300px;
    height: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}
